beautifulsoup4
bleach
certifi
chardet
click
Flask
Flask-SQLAlchemy
html5lib
idna
itsdangerous
Jinja2
livereload
Markdown
MarkupSafe
mkdocs
Pillow
protobuf
python-dotenv
pytz
PyYAML
requests
selenium
six
SQLAlchemy
tornado
urllib3
Werkzeug
